body {
  background-color: black;
  background-image: url(illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  max-height: 46px;
  margin-top: 0%;
  padding-left: 5%;
  padding-right: 5%;
  order: -2;
  background-color: #3C3A39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
}

.primarytext {
  color: #FF6B00;
  font-family: Crete Round;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
}

.supportingtext {
  color: #FFF5E1;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 12%;
}

.socialmedia {
  width: 87.2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  padding-left: 0%;
  display: flex;
}

li {
  list-style-type: none;
  background-color: black;
}

.mediaicon:hover {
  background-color: grey;
}

.mediaicon:active {
  background-color: #FFF5E1;
}

.menu:hover {
  background-color: grey;
}

.menu:active {
  background-color: #FFF5E1;
}

@media screen and (min-width: 768px) {
  body {
    height: 500px;
    align-items: center;
    padding-top: 0%;
  }

  .header {
    width: 91.5%;
    max-height: 60px;
  }

  .notheader {
    display: flex;
    flex-direction: row;
  }

  .socialmedia {
    order: -1;
    flex-direction: column;
    width: 0.5%;
    margin-left: 1%;
  }
  .textcontainer {
    width: 80%;
    margin-left: 0.9%;
    margin-right: 0.9%;
  }
}
