body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
}

.primarytext {

  color: #FF6B00;
  font-family: Crete Round;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
}

.supportingtext {

  color: #FFF5E1;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

}

.description {
 
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.socialmedia {
  width: 87.2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  display: flex;
  /* border: 1px solid red; */
}

li {

  list-style: none;
  background-color: black;
  /* border: 1px solid blue; */
}

/* .mediaicon {
  background-color: brown;
} */

.mediaicon:hover {
  background-color: grey;
}

.mediaicon:active {
  background-color: #FFF5E1;
}

@media screen and (min-width: 768px) {
  body {
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .socialmedia {
    order: -1;
    flex-direction: column;
    width: 0.5%;
    /* margin-left: 0.02%;
    margin-right: 0.02%; */
  }
  .textcontainer {
    width: 80%;
    margin-left: 0.9%;
    margin-right: 0.9%;
  }
}
