body {
  padding: 0.0001px;
  margin: 0.0001px;
}

.section1 {
  height: 700px;
  background-color: #1c1a19;
  margin: 0.0001px;
  display: flex;
  flex-direction: column;
  background-image: url(illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: 100% 250px;
}

.header {
  border: none;
  height: 50px;
  margin: none none none none;
  padding-left: 5%;
  padding-right: 5%;
  order: -2;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
}

.primarytext {
  color: #ff6b00;
  font-family: Crete Round, sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  text-align: left;
  margin-bottom: 5px;
}

.supportingtext {
  color: #fff5e1;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-right: 12%;
}

.socialmedia {
  width: 87.2%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  padding-left: 0%;
  display: flex;
}

li {
  list-style-type: none;
  background-color: #1c1a19;
}

.mediaicon:hover {
  background-color: grey;
}

.mediaicon:active {
  background-color: #fff5e1;
}

.menu {
  width: 35px;
}

.menu:hover {
  background-color: grey;
}

.menu:active {
  background-color: #fff5e1;
}

.header1p2 {
  color: #1C1A19;
  font-family: Crete Round, sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  text-align: left;
  margin-left: 6.9%;
}

.line {
  text-align: left;
  margin-left: 6.9%;
  width: 87.2%;
}

.bigimage {
  margin-top: 80px;
  text-align: left;
  margin-left: 6.9%;
  width: 87.2%;
}




@media screen and (min-width: 768px) {
  .section1 {
    height: 800px;
    align-items: center;
    padding-top: 0%;
    background-image: url(illustration-header.png);
    background-repeat: no-repeat;
    background-position: 345px 50px;
  }

  .header {
    width: 99%;
    height: 60px;
    padding-left: 100px;
    padding-right: 50px;
  }

  .notheader {
    display: flex;
    flex-direction: row;
  }

  .socialmedia {
    order: -1;
    flex-direction: column;
    width: 0.5%;
    margin-left: 1%;
    margin-top: 85px;
  }

  .textcontainer {
    width: 80%;
    margin-left: 0.9%;
    margin-right: 0.9%;
  }

  .description {
    padding-right: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .section1 {
    height: 800px;
    align-items: center;
    padding-top: none;
    background-image: url(illustration-header.png);
    background-repeat: no-repeat;
    background-position: right 50px;
  }
}
